.container{
    margin-bottom: 60px;
    
}


.bg-pink{
    background-color: #fceae8;
    border-radius: 10px;
}

.buy-now-button{
    background-color: crimson;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    color: aliceblue;
    font-size: 17px;
    
}

.carousel-item{
    padding:  20px 40px;

}

.bg-maroon{
    color: crimson;
}

.bg-watch{
    background-color: cadetblue;
    border-radius: 10px;
    padding: 10px 30px;
    color: aliceblue;

}

.bg-bag{
    background-color: cyan;
    border-radius: 10px;
    padding: 10px 30px;
    color: aliceblue;

}

.bg-shoes{
    background-color: blue;
    border-radius: 10px;
    padding: 10px 30px;
    color: aliceblue;
}

.categories img{
    width:120px;
}